@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #0b1220;
    --body-heading-color: #f2f6ff;
    --body-text-color: #d7e0ef;
    --link-color: #8ab4ff;
    --nav-child-link-color: #b8c8e6;
    --sidebar-color: #111a2d;
    --search-background-color: #111a2d;
    --search-result-preview-color: #c7d2e7;
    --table-background-color: #111a2d;
    --table-border-color: #28344f;
    --code-background-color: #0d1628;
    --code-linenumber-color: #6c7fa5;
    --feedback-color: #1a2741;
    --btn-primary-color: #7ca8ff;
    --border-color: #2a3854;
  }
}

@media (min-width: 66.5rem) {
  :root {
    --kc-sidebar-width: calc(15rem + 30px);
  }

  .side-bar {
    width: var(--kc-sidebar-width);
  }

  .site-nav,
  .site-header,
  .site-footer {
    width: 100%;
  }

  .side-bar + .main {
    margin-left: var(--kc-sidebar-width);
    width: calc(90vw - var(--kc-sidebar-width));
    max-width: calc(90vw - var(--kc-sidebar-width));
    margin-right: 0;
  }

  .side-bar + .main .main-content-wrap {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 100px;
    padding-right: 24px;
  }

  .side-bar + .main .main-header {
    padding-left: 70px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
